<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">

                <div class="item" v-for="(slide,i) in slides" :class="i === iImage ?'active': '' ">

                    <img :src="slide.image" alt="Spiderman" />
                    <div class="text">
                        <h3>{{ slide.title }}</h3>
                        <p>
                            {{ slide.text }}
                        </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div class="prev" @click="arrowBottom()"></div>
                    <div class="next" @click="arrowTop()"></div>
                    <div class="thumb" v-for="(slide,i) in slides" :class="i === iImage ?'active': '' ">
                        <img :src="slide.image" alt="Svezia" />
                    </div>

                </div>

            </div>

            <script src="js/app.js"></script>
</body>

</html>